// Basic Colors
$navy: #ff5a00;       // Primary color
$dark-gray: #262727;  // Default color
$blue: #1ab3ad;       // Success color
$lazur: #43b75e;      // Info color
$yellow: #faa41b;     // Warning color
$red: #e73a26;        // Danger color

// Various colors
$text-color: #262727;   // Body text
$gray: #9b9b9b;         // Background wrapper color
$light-gray: #9b9b9b;   // Default label, badget
$label-badget-color: #5E5E5E;
$light-blue:#f3f6fb;

// Spiner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;


// IBOX colors ( default panel colors)
$border-color: #e7eaec;     // IBox border
$ibox-title-bg:#ffffff;     // IBox Background header
$ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-backgound: image-url('patterns/shattered.png');

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #2F4050;
$nav-profil-pattern: image-url("patterns/header-profile.png") no-repeat;
$nav-text-color: #a7b1c2;