<h2>General Info</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="text-center">
            <!--<h2><span class="label label-primary">MTD: $75,818</span></h2>-->
            <button type="button" class="btn btn-primary btn-lg">MTD: $75,818</button>
            <button type="button" class="btn btn-gray btn-lg">Budget: $108,332</button>
        </div>
        <div class="col-lg-12">
            <h3>Net Revenue</h3>
            <div>
                <canvas id="lineChart" height="90"></canvas>
            </div>
        </div>
    </div>
</div>