<h2>Partner</h2>
<div class="row">
    <div class="col-lg-6">
        <div class="text-center">
            <h3>Partner Net Revenue</h3>
        </div>
        <div id="slineChart3" ></div>
    </div>
    <div class="col-lg-6">
        <div class="text-center">
            <h3># of Watches</h3>
        </div>
        <div id="slineChart4" ></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="widget light-gray-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-repeat fa-4x"></i>
                <h3 class="font-bold no-margins">
                    Partner Turn
                </h3></br>
                <h1 class="m-xs"><%= @turn %></h1>
                <p class="label label-primary"><i class="fa fa-bullseye"></i> <%= @turn_budget %></p>
            </div>
        </div>
    </div>
</div>