<h2>Procurement</h2>
<div class="row">
    <div class="col-lg-6">
        <div class="text-center">
            <h3>Net Procurement</h3>
        </div>
        <div id="slineChart2" ></div>
    </div>
    <div class="col-lg-6">
        <div class="text-center">
            <h3>Net Revenue</h3>
        </div>
        <div id="slineChart" ></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="text-center">
            <h3>Win Rate<small>  (Budget: <%= @win_rate_budget %>)</small></h3>
        </div>
        <div id="gauge"></div>
    </div>
    <div class="col-lg-6">
        <div class="text-center">
            <h3>Delivery per Person</h3>
        </div>
        <h2><%= @delivery %></h2> <small>Budget: <%= @delivery_budget %></small>
        <div id="sparkline1"></div>
    </div>
</div>